*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 
             'Segoe UI', Roboto, 'Helvetica Neue', 
             Ubuntu, Arial, sans-serif;
        /*'Lato', sans-serif;*/
    
}

html,body { 
    width: 100%;
    height: 100vh;
    margin: 0;
    cursor: url(../img/Sheikah-cursor.png), default;
}


.row{
    width: 80%;
    margin: 0 auto;
    overflow: auto;
}


.one-of-three{
    width: 33.33%;
    float: left;
    overflow: auto;
}

.section-headline{
    color: #4e4d4d;
    text-align: center;
    font-size: 3em;
    font-weight: 300;
    padding-top: 60px;
}

.line{
    height: 2px;
    width: 80px;
    background-color: lightgray;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.subsection-line{
    height: 2px;
    width: 80px;
    background-color: lightgray;
    margin: 0 auto;
    margin-top: 20px;
}

/* Pre-loading Screen */
#preloader{
  width: 100%;
  height: 100%;
  position: absolute;
  background: black;
}

#loader {
    margin: 0;
    position: absolute;
    top: 43%;
    left: 48%;
    transform: translate(-50%, -50%)
}

#loader .circle {
  width:30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  transition: all 0.3s;
  animation: tri-force 0.75s infinite;
}

#loader .circle.glow {
  box-shadow: 0px 0px 20px white;
}
#loader #circle1, #loader #circle4, #loader #circle5 {
  animation-delay: 0.4s;
}
#loader #circle1 {
  left: 35px;
}
#loader #circle2 {
  top: 25px;
}
#loader #circle3 {
  top: 25px;
  left: 70px;
}
#loader #circle4 {
  top: 60px;
}
#loader #circle5 {
  top: 60px;
  left: 70px;
}
#loader #circle6 {
  top: 85px;
  left: 35px;
}

@keyframes tri-force {
  0% {transform: scale(1);}
  50% {transform: scale(0.5);}
  100% {transform: scale(1);}
}

/* Hero Page with welcome image */

#IntroPage {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(255, 255, 255, 0.3),rgba(0, 0, 0, 0.5)),url(../img/Doggo.png);
    background-size: cover;
    background-position: center;
    position: relative;
}



#IntroPage h1 {
    color: white;
    font-size: 6em;
    /*font-family: Roboto;*/
}

.fa-chevron-down{
    animation: arrow-movement 2s linear infinite;
    position: absolute;
    left: 50%;
    bottom: 2%;
    transform: translate (-50%,-50%);
    width: 14px;
    height: 16px;
    font-size: 30px;
    color: white;
}

@keyframes arrow-movement {
    0%,100% { 
      bottom: 2%;
    }
    50%{
        bottom: 5%;
    }
}

/* Self introduction/About Page */

#About{
    width: 100%;
    height: 100vh;
    position: relative;
    text-align: center;
}

#About .row{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

}

#About p{
    /*font-family: Oxygen;*/
    font-size: 1.2em;
    color: #003262;
    padding-bottom: 50px;
}

#About img {
    width:200px;
    height:200px;
    border-radius: 50%;
    margin: 50px 0;
}

/*---------------------------------EXPERIENCES------------------------------------*/

#Experiences{
    background-color: aliceblue;
}

#Experiences .mason-box{
    column-count: 1;
    background-color: white;
    width: 50%;
    height: 50%;
    margin: 50px auto;
    border: 1px solid lightgrey;
    border-radius: 10px;
    text-align: center;
    position: relative;
    box-shadow: 0 1px 4px 1px rgba(0,0,0,.25);
}

#Experiences .mason-box .tile{
    display: inline-block;
    margin: 0em 0 1em;
    width: 100%;
}

#Experiences .mason-box .tile #banner{
    height: 12em;
}

#Experiences .mason-box .tile #content{
    height: 500px;;
}

#Experiences .mason-box img{
    width: 10em;
    height: 10em;
    border-radius: 8px;
    margin: 20px 10px;
}

#Experiences a{
    /*background-color: #468eb5;*/
    color: #468eb5;
    padding: 5px 15px;
    font-weight: 400;
    text-decoration: none;
    position: absolute;
    bottom: 5%;
    left: 5%;
    transform: translate (-25%, 0);
    overflow: auto;
}

#Experiences .mason-box h2, p{
    width: 80%;
    margin: 15px auto;
    vertical-align: middle;
    text-align: center;
}

#Experiences .mason-box .short h2{
    font-weight: 300;
    font-size: 20px;
    height: 20px;
    vertical-align: middle;
    text-align: center;
}

#Experiences .mason-box h2{
    font-weight: 300;
    font-size: 20px;
    height: 90px;
    padding: auto;
    vertical-align: middle;
    text-align: center;
}

#Experiences .mason-box p{
    font-weight: 400;
    font-size: 15px;
    height: 150px;
    vertical-align: middle;
    text-align: center;
}



#Experiences a:hover{
    background-color: #468eb5;
    color: white;
    border-radius: 5px;
}


/* Master Sword Pointer and Animation */
#Experiences #pointer{
  height: 1.5em;
  width: 1.5em;
  border: 0px;
  margin: 0px;
  border-radius: none;
  margin-right: 5px;
  animation: MasterSword 2000ms infinite;
}

@keyframes MasterSword {
  0% { left: 0px; box-shadow: 0 0 0px white; }
  40% { left: 5px; box-shadow: 0 0 40px white; }
  60% { left: 5px; box-shadow: 0 0 40px white; }
  100% { left: 0px; box-shadow: 0 0 0px white; }
}

/* -----------------------------------Contact Page-------------------------------- */

#Contact-Page{
    width: 100%;
    height: 100vh;
    /*background-image: linear-gradient(rgba(0,168,255,1), rgba(0,168,255,0.75), rgba(0,168,255,0.5), rgba(0,168,255,0.25));*/
    
    background-image: linear-gradient(rgba(255, 255, 255, 0.3),rgba(0, 0, 0, 0.5)),url(../img/chemex.jpg);
    
    background-size: cover;
    background-position: center;
    position: relative;
    text-align: center;
}


.contact-container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

#Contact-Page h2{
  font-size: 3em;
  color: white;
  
}

#Contact-Page p{
  margin-top: 20px;
  font-size: 1.5em;
  color: white;

}

.contact-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    flex-direction: row;   
}


.contact-icons i{
    font-size: 2em;
    margin: 25px;
    transition: all .4s ease;
    color: white;
    
}

.contact-icons i:hover{
  transform: scale(1.3);
}

/* Cody House Verticle Slider. 
CSS included in javascript library. Items modified to match my site. */

ul {
  list-style: none;
}

/* No Touch devices */
.no-touch .cd-nav-trigger {
  display: none;
}

.no-touch #cd-vertical-nav {
  position: fixed;
  right: 40px;
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
  z-index: 1;
}
.no-touch #cd-vertical-nav li {
  text-align: right;
}
.no-touch #cd-vertical-nav a {
  display: inline-block;
}
.no-touch #cd-vertical-nav a:after {
  content: "";
  display: table;
  clear: both;
}
.no-touch #cd-vertical-nav a span {
  float: right;
  display: inline-block;
  transform: scale(0.6);
}
.no-touch #cd-vertical-nav a:hover span {
  transform: scale(1);
}
.no-touch #cd-vertical-nav a:hover .cd-label {
  opacity: 1;
}
.no-touch #cd-vertical-nav a.is-selected .cd-dot {
  background-color: white;
}
.no-touch #cd-vertical-nav .cd-dot {
  position: relative;
   /*we set a top value in order to align the dot with the label. If you change label's font, you may need to change this top value*/
  top: 8px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #00A8FF;
  transform-origin: 50% 50%;
}
.no-touch #cd-vertical-nav .cd-label {
  position: relative;
  margin-right: 10px;
  color: white;
  font-size: 1.5em;
  opacity: 0;
  transform-origin: 100% 50%;
}

/*------------------------*/
/*Responsive Media Queries*/
/*------------------------*/

/*--------------HEADER--------------*/

@media only screen and (max-width: 1200px){
    #IntroPage{
        background-image: linear-gradient(rgba(255, 255, 255, 0.3),rgba(0, 0, 0, 0.5)),url(../img/mtmoiwa-mobile.jpg);
    }
    
    #IntroPage h1 {
    font-size: 4em;
    }
}


/*--------------Intro Page--------------*/

@media only screen and (max-width: 720px){
    
    #About p{
        font-size: 5 em;
    }
    
    #profile img {
        width: 100px;
        height: 100px;
    }

}

/*-------------EXPERIENCES-------------*/

@media only screen and (max-width: 1550px){
    #Experiences ul{
        padding: 0 25px;
        width: 275px;
    }    
}

@media only screen and (max-width: 1250px){
    #Experiences ul{
        width: 220px;
    }    
}

@media only screen and (max-width: 1100px){
    #Experiences .one-of-three{
        width: 100%;
        margin-bottom: 40px;
    }
}

@media only screen and (max-width: 370px){
    #Experiences ul{
        width: 200px;
    }    
}

/*-------------Contact Page-------------*/

@media only screen and (max-width: 800px){
    #Contact-Page h2{
        font-size: 45px;
    }
    
    #Contact-Page p{
        font-size: 25px;
    }
}